* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav ul {
    display: flex;
    gap: 10px;
    justify-content: right;
    margin: 20px;
    
}

li {
    text-decoration: none;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

.logo-img {
    width: 15%;
    height: auto;
    margin: 20px;
}

.opciones-recomendaciones img {
    width: 310px;
    height: 280px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f54;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.menu-mobil{
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin: 10px;
}
.menu-mobil span{
    width: 25px;
    height: 3px;
    background-color: #fff;
}

h2 {
    text-align: center;
    margin: 1rem;
    font-size: 2.5rem;
}

.contenedor-recomendaciones {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    
}

.opciones-recomendaciones p {
    text-align: center;
    font-weight: bold;
    margin: 10px;
    margin-right: 0;
    margin-left: 0;
}

.opciones-recomendaciones {
    border: 2px solid #f56;
    margin: auto auto 5rem;
    width: 310px;
    height: auto;
    align-items: center;
    box-shadow: 5px 5px 6px gray;
    transition: 0.2s ease;
}
.opciones-recomendaciones:hover{
    transform: translateY(-20px);
}

.panel-entrada {
    display: flex;
    height: 80vh;
    align-items: center;
    background: linear-gradient(270deg, #e67 0%, #f54 100%);
    margin-bottom: 10rem;
}

.panel-entrada h1 {
    text-align: center;
    margin: 5rem;
    color: #fff;
}

.ofertas-destacadas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
    
}

.opcion-oferta p{
    margin: 5px;

}
footer{
    padding: 5rem;
    background-color: #f54;
    color:#fff;
}
.opcion-oferta{
    border: 2px solid #f56;
    box-shadow: 5px 5px 6px black;
    transition: 0.2s ease;
}
.opcion-oferta:hover{
    transform: translateY(-20px);
}
.opcion-oferta img{
    margin: 1rem;
    border-bottom: 2px solid #f54;
}
.texto-oferta{
    margin: 2rem;
}
@media (max-width: 992px){
  .contenedor-recomendaciones{
    flex-wrap: wrap;
  }
  .ofertas-destacadas{
    flex-wrap: wrap;
  }
}
@media(max-width: 768px){
     header {
        position: relative;
    }
    nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    .ofertas-destacadas{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contenedor-recomendaciones{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .h2{
        padding: 5px;
        margin: 5px;
        color:#f54;
    }
    .contenedor-lista{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .oferta-empleo{
        display: flex;
        flex-direction: column;
    }
    form p{
        font-size: 12px;
    }
    input{
        font-size: 10px;
    }
    .menu-mobil{
        display: flex;
    }
    
}
@media(min-width: 1920px) {
    .opciones-recomendaciones{
        margin: 15px 15px 5rem;
    }
}
.contenedor-lista{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}
.opcion-lista{
    gap: 5px;
    background-color: #f00;
    text-align: center;
    margin: 10px;
    border-radius: 5%;
    box-shadow: 5px 5px 6px black;
}
.opcion-lista p{
    color: #fff;
    margin: 8px;
    text-align: left;
}
.btn-curso{
    padding: 15px;
    margin: 10px;
    border: none;
    
    width: 150px;
}
.opcion-lista img{
    border-radius: 5%;
}
.titulo-opcion{
    text-align: center;
}
.opcion-texto{
    padding: 20px;
}
.opcion-titulo{
    text-align: center;
}
.oferta-empleo{
    display: flex;
    align-items: center;
    margin: 50px;
    border: 2px solid #000;
    padding: 30px;
    width: 80%;
}
.oferta-texto{
    margin: 15px;
}
.oferta-empleo p{
    margin: 20px;
    
}
.contenedor-ofertas{
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-empleo{
    padding: 15px;
    background-color: #eee;
    transition: 0.2s ease;
}
.btn-empleo:hover{
    padding: 20px;
    color: #f00;
    border: 2px solid #f00;
    
}
form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: #f54;
    width: 70%;
    margin: 10rem auto 15rem;
    height: auto;
    padding: 45px;
    color: #fff;
    box-sizing: border-box;
    box-shadow: 5px 5px 9px black;
}
form p{
    width: 80%;
    text-align: left;
    color: white;
    margin: 10px 0 5px 5px;
    font-weight: bold;
}
form input{
    margin: 15px;
    padding: 10px;
    width: 80%;
    border-radius: 14px;
    border-color: #f00;
}

textarea{
    padding: 25px;
    width: 78%;
    height: 150px;
    margin: 10px;
}
input[type="submit"]{
    width: 30%;
    margin: auto;
}
input[type="search"]{
    width: 60%;
    padding: 10px;
    
}
.btn-buscar{
    width: 30%;
    padding: 10px;
    margin: 15px;
}
.error{
    color: #f00;
}
.active{
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: 0.2s ease;
    background-color: #eee;
}
.active a{
    color: #000;
    width: 100%;
    
}
.active ul {
    flex-direction: column;
    justify-content: center;
    
}
